/* make the index page look better */
#content {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px #ccc;
    overflow: hidden;
}
